@import "tailwindcss";
.bg-home {
  position: relative;
  background-image: url(../src/assets/stretched-1366-768-1321414.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   overflow: hidden;
}
* { 
  scroll-behavior: smooth;
}

.bg-home::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(169, 51, 51, 0.7);
  z-index: 1;
}


.bg-home > * {
  position: relative;
  z-index: 2;
}

.bg-pic {
  background-image: url(../src/assets/model-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 500px;
  width: 85%;
  border-radius: 30% 3% 30% 3%;
}

.bg {
  background-color: #B7D3DF;
}

.souligne1 {
  position: relative;
  display: inline-block;
}

.souligne1::after {
  content: '';
  position: absolute;
  bottom: -11px;
  right: 23px;
  width: 309px; 
  height: 5px;
  background-color: #718731;
}

.souligne2{
position: relative;
display: inline-block;

}

.souligne2::before{
content: '';
position: absolute;
bottom: -11px;
font-size: 1rem;
left: 2px;
width: 265px;
height: 5px;
background-color: #718731;

}