@tailwind base;
@tailwind components;
@tailwind utilities;


.from-emerald-500{
    --tw-gradient-from: #1073d5 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(16 185 129 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-color: #1073d5;
}